# Ignore everything first
*

# === Allow build files for Dokku ===
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json
!turbo.jsonc
!patches
!patches/**
!scripts
!scripts/**
!packages
!packages/**
!node_modules
!node_modules/**

# === n8n official Docker builds ===
!compiled/**
!THIRD_PARTY_LICENSES.md
!dist
!dist/**
!docker
!docker/**
